h1 {
    color: aquamarine;
    font-family: Inter;
}

.IndexPageHeader {
    text-align: center;
}
.IndexLoginSignup {
    text-align: center;
}


.errormessage {
    color: red;
    text-align: center;
}

.flashmessages {
    color: green;
    text-align: center;
}