<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Dashboard</title>
    </head>

    <body class="dashboardbody">

        <div class="IndexPageHeader" style="background-image: url('{{ url_for('static', filename='images/background1.jpg') }}');">
            <h1>Welcome {{username}}</h1>
        </div>

        <div class="dashboard">
            <p><a href="/Login">Login</a></p>
            <p><a href="/SignUp">Signup</a></p>
        </div>

        <div class="flashmessages">
            {% for msg in get_flashed_messages() %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>

        <h2 class="addtask">Add a task:</h2>

        <div class="taskinput">
            <form action="/UserDashboard" method="POST">
            <input type="hidden" name="action" value="addtask">
            <input type="text" name="task" placeholder="Enter a task to complete">
            <button type="submit">+</button>
            </form>
        </div>


        {% if task_list %}
            {% for task in task_list %}
            <div class="task">
                <p class="taskstring">task: {{task.to_do}}</p>
                <form action="/UserDashboard" method="POST" class="delettaskform">
                    <input type="hidden" name="action" value="deletetask">
                    <input type="hidden" name="task_id" value="{{task.id}}">
                    <button type="submit">-</button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p class="notaskstate">No tasks yet</p>
        {% endif %}
        
    </body>
</html>