<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Dashboard</title>
    </head>

    <body>
        <div class="IndexPageHeader">
            <h1>Welcome {{username}}</h1>
        </div>
        <div class="dashboard">
            <p><a href="/Login">Login</a></p>
            <p><a href="/SignUp">Signup</a></p>
        </div>

        <div class="flashmessages">
            {% for msg in get_flashed_messages() %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>

        <h2>Add a task:</h2>
        <form action="/UserDashboard" method="POST">
            <input type="text" name="task" placeholder="Enter a task to complete">
            <button type="submit">+</button>
        </form>

        {% if task_list %}
            {% for task in task_list %}
                <p>task: {{task}}</p>
            {% endfor %}
        {% else %}
            <p>No tasks yet</p>
        {% endif %}
        
    </body>
</html>