<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Index</title>
    </head>

    <body>
        <div class="IndexPageHeader">
            <h1>Welcome to the dashboard</h1>
        </div>
        <div class="IndexLoginSignup">
            <p><a href="/Login">Login</a></p>
            <p><a href="/SignUp">Signup</a></p>
        </div>
    </body>
</html>